<% if User.current.allowed_to?({:controller =>"import_from_csv" , :action => "index"}, @project, :global =>false)%>
  <p><%= link_to l(:Import_label), import_from_csv_index_path(:project_id=>@project.identifier) %></p>
<%end%>
